@import "tailwindcss";

@layer utilities {
  /* Ẩn scrollbar cho mobile UI mượt mà */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: #090d16;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
